<h3>Edit Shelf Name</h3>
<%= form_for @shelf do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="actions">
		<%= f.submit :submit, value: "Save", class: 'button' %>
	</div>
<% end %>
