<div id="error_explanation">
  <h3>
    Whoops! <!-- You've got <%= pluralize(object.errors.count, "error")%> -->
  </h3>
  <ul>
    <% object.errors.full_messages.each do |message|%>
      <li style="color: red"><%= message %></li>
    <% end %>
  </ul>
</div>
