<!-- Probably wanna delete this for as we have it now in our index file -->

<div class='row'>
	<%= form_for(@shelf, :remote => true) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="actions">
		<%= f.submit :submit, class: 'button' %>
	</div>
	<% end %>
</div>