
<h1><%=current_user.first_name.capitalize %>'s BookShelf</h1>

<div id="shelf-list">
	<%= render @shelves if @shelves %>
</div>

<h3>Add a new shelf: </h3>
<%= render '/shelves/form', locals: {shelf: Shelf.new}  %>