<h5 class="notify">Click for Notifications</h5>
<% if current_user.books.count > 50 %>
  <p>You have <%= current_user.books.count %> books, start deleting!</p>  
<% end %>
<% if current_user.books.where(last_clicked: nil).count > 10 %>
  <p>You have <%= current_user.books.where(last_clicked: nil).count %> unread books, start reading!</p> 
<% else %>
  <p>Your BookShelf looks awesome!</p>
<% end %>