<h4>Notifications:</h4>
        <p>This should be ajax updated!</p>
        <p>You have <%= current_user.books.count %> books, start deleting!</p>  
        <p>You have <%= current_user.books.where(last_clicked: nil).count %> unread books, start reading!</p> 
        <p>Your BookShelf looks awesome!</p>