/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .

 *= require foundation_and_overrides
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);

body, input {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.Logo { height:32px;}
.top-bar .name h1 a { padding-right:0px;}

/* Carousel Styling*/
.owl-carousel.owl-theme { 
  width:100%;
  margin:0 auto;
}

.owl-item .item {
  height:200px;
  padding:0px 10px;
  margin-top: 20px;
  /*min-width: 200px;*/
}

.owl-item {min-width:200px!important;}

.owl-theme .owl-controls .owl-buttons div{
  color:#333333;
  font-size: 26px;
  font-weight: 400;
  background: none;
}

.owl-theme .owl-controls .owl-buttons div { position: absolute; }
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -30px;
  top: 65px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -30px;
  top: 65px;
}

/* Modal styling */
.reveal-modal-bg { display: none !important; }
.reveal-modal, dialog { border:none; }

input[type="text"], textarea {
  margin: 0 0 0.8rem 0;
  padding: 0.5rem;
}

/* Notifications */
.notifyTitle {
  border:solid 1px grey;
  padding:10px;
}
.notifications {
  z-index: 5000;
  position:relative;
  width:280px;
  margin-bottom: -400px;
  margin-top:-100px;
}

.notifications div {display: none;}

.notifications p {
  background:#fff;
  padding: 20px 20px;
  margin-right:-5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin-left:88%;
  margin-top:20px;
}

.notifyIcon {
  width:25px;
  opacity:0.7;
}

.notifyAlt {
  display: none;
}
/* User Info*/

.UserInfo h2 {
  font-weight: 300;
}

.UserInfo {
  padding:40px;
}
/*Errors styling*/
#error_explanation ul li { list-style-type: none; color: red; }
#error_explanation {padding-bottom: 0px; text-align: center;}

@media screen and (max-width: 1100px) {
  .reveal-modal, dialog { width:50%; }
}

@media screen and (max-width: 1025px) {
   .selected { width:93%; }
}

@media screen and (max-width: 700px) {
   .selected { width:550px; max-width: 90%;} 
   .notifyAlt { display: block; }
   .notifyTitle { display: none; }
   .arrow-up { margin-left: 90% }

}

@media screen and (max-width: 500px) {
  .selected { max-width: 80%;} 
  h4.getstarted.selected  {font-size: 20px;}
}

@media screen and (max-width: 640px) {
  .reveal-modal, dialog { width:100%; }
}