/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require foundation
 *= require foundation_and_overrides
 *= require owl.carousel
 *= require owl.theme
 *= require owl.transitions
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
  padding:20px 50px;
}

.owl-carousel.owl-theme { 
  width:90%;
  margin:0 auto;
}

.owl-item .item {
  height:200px;
  padding:0px 10px;
  margin-top: 20px;
}

.bookInfo {
  border:solid 1px black;
  padding:20px;
  height:150px;
}

a.button.right.addshelf {
  margin-right: 5%;
  margin-top:0px;
}

.detailsLink, .bookclose { cursor:pointer; }

.bookInfo.item.start {
  height: 200px;
  padding: 20px 40px;
  text-align: center;
  width: 93%;
}

.owl-theme .owl-controls .owl-buttons div { position: absolute; }
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 75px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 75px;
}

.front, .back { height:75px; }

.back { 
  border:solid 1px black; 
  padding:20px;
}
