/*Book Styling*/
.front, .back, .bookInfo { background-color:#fff; }

.front, .back { 
  height:75px; 
  width:auto;
}

.back {
  /*max-width:200px;*/
  font-size:12px;
  word-wrap: break-word;
  padding:20px;
  /*min-height: 75px;*/
}

.front { word-wrap:break-word; }

.bookInfo { 
  cursor: pointer; 
  padding:20px;
  height:150px;
  /*position:relative;*/
}

.bookInfo a { font-size:16px; }

#bookOptions { text-align: right; }

#bookOptions img {
  width:12px;
  margin-right:10px;
  opacity: 0.5;
}

span.read { 
  font-size:14px;
  position: absolute;
  bottom: 85px;
  right: 40px;
  /*float:right;*/
  /*margin-top:50px;*/
}