// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.back {
  max-width:200px;
  font-size:12px;
  word-wrap: break-word;

}

.front {
  word-wrap:break-word;
}