$background-main-overlay:rgba(244,244,239,0.8);
$text-color:#333333;

/*General shelf styling*/
html * { color: $text-color; }
body { background: url("homepage_alt5.jpg") no-repeat center center fixed; }

.wrapperShelf{
  margin: 100px 0px;
  padding:40px 50px;
  background-color:$background-main-overlay;
}

.UserInfo { padding:40px 0px; }

.singleShelf h4 {
  width:100%;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top:10px;
}

.shelfTopBar {
  border-top:solid 2px #999988;
  margin-bottom: -45px;
}

.large-6 {
  padding:0px 20px;
  height:320px;
}

[class*="column"] + [class*="column"]:last-child {
  float: left;
}

a.addshelf.right { margin-top: -10px; }

/* Search */
.searchbox {
  margin-bottom: -50px;
  margin-top:20px;
}

#backToBookShelf {
  text-align: center;
  margin-top: -80px;
  margin-bottom: 20px;
  font-size: 1.25em;
}

#backToBookShelf a:hover { color: #999988; }

input:-webkit-autofill, input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px white inset;
  /*-webkit-text-fill-color: #333;*/
}

/* Add a new shelf styling */
.new_shelf input#shelf_name {
  border:none;
  outline:none;
}

.row .newshelf {
  width:60%;
  text-align: center;
  margin: 0 auto;
}

.postfix.button { 
  margin-bottom: 60px; 
  min-width: 80px;
}


