.selected {
  background-color: #ccc;
  color: white;
}

.bookInfo.item.start {
  height: 200px;
  padding: 20px 40px;
  text-align: center;
  width: 93%;
}

h3, #userShelves {clear:both;}
#userShelves {display: block; margin: 0 auto;}
.shelfStart {height:320px;}