$background-main-overlay:rgba(244,244,239,0.8);
$text-color:#333333;

html * { color: $text-color; }

.wrapper {
  // background: asset_url("homepage_alt5.jpg") no-repeat center center fixed;
  padding:50px;
}

.homepage h3, .homepage h4, .homepage h5 {
  text-align: center;
  width:60%;
  margin:0 auto;
}

.homepage h3 { margin-top:60px; }

.homepage h4 {
  margin-top: -25px;
  font-size: 16pt;
  margin-bottom: 20px;
}

.top-bar .name h1 a { 
  color:$text-color;
  font-size: 1.1em;
}

.homepage form, .loginPage form {
  width:50%;
  margin: 0 auto;
  text-align: center;
  margin-top:40px;
}

.homepage, .loginPage {
  background-color:$background-main-overlay;
  margin-top:50px;
  margin-bottom:50px;
}

.homepage span, .loginPage h1 span {
  font-family: 'Cantata One', serif;
  font-size: 28pt;
  color:$text-color;
}

.homepage .small {font-size: 14pt;}

.loginPage h1 span {
  display: block; 
  text-align: center;
  margin-top:50px;
}

.loginPage h5 {
  text-align: center;
  margin-bottom:50px;
  font-size: 1rem;
}

.loginPage h5 span {
  font-weight: 400;
}

.homepage .button, .loginPage .button {
  background-color: #84cfd5;
  font-weight: 300;
  margin-bottom:50px;
}

/* nav */
.top-bar .toggle-topbar.menu-icon a { color:$text-color }

.top-bar .toggle-topbar.menu-icon a span::after {
    box-shadow: 0 0 0 1px #999999, 0 7px 0 1px #999999, 0 14px 0 1px #999999;
}

.top-bar, .top-bar-section li:not(.has-form) a:not(.button) { 
    text-transform: uppercase; 
    font-size:1em;
    color:$text-color
}

.top-bar {
  border-bottom:solid 1px #999999; 
  height: 50px; 
}

.top-bar-section ul li {
  background-color:#fff ;
  text-align: right;
  padding-right:20px;
}
.menu-icon 
  a 
    span { font-weight:300;}

/*nav.top-bar.expanded {
  max-height: 600px;
}

nav.top-bar {
  max-height: 45px;
  transition: max-height .3s ease-in-out;
}
*/
@media screen and (max-width: 640px) {
  .top-bar-section ul li {
    border-bottom: solid 1px #ccc;
  }
}